# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/
A.txt
A.out
B.txt
B.out
C.txt
C.out
D.txt
D.out
E.txt
E.out
F.txt
F.out
G.txt
G.out
H.txt
H.out
I.txt
I.out